<div class="container">
    <h1 class="page-title">
        Support
    </h1>

    <div class="question-title">Purchase & Consumption</div>
    <div class="card-group">
        <a class="question-card" asp-controller="Support" asp-action="RedirectByQuestion" asp-route-question="track-purchase-history">
            Track All your Purchase History
        </a>
    </div>

    <div class="question-title">FAQ</div>
    <div class="card-group">
        <a class="question-card" asp-controller="Support" asp-action="RedirectByQuestion" asp-route-question="track-purchase-history">
            Something question...
        </a>
        <a class="question-card" asp-controller="Support" asp-action="RedirectByQuestion" asp-route-question="track-purchase-history">
            Something question...
        </a>
        <a class="question-card" asp-controller="Support" asp-action="RedirectByQuestion" asp-route-question="track-purchase-history">
            Something question...
        </a>
    </div>
    <div class="question-title">Policy & Guidelines</div>
    <div class="card-group">
        <a class="question-card" asp-controller="Support" asp-action="RedirectByQuestion" asp-route-question="track-purchase-history">
            Something question...
        </a>
        <a class="question-card" asp-controller="Support" asp-action="RedirectByQuestion" asp-route-question="track-purchase-history">
            Something question...
        </a>
    </div>

    <div class="question-title">Feedback</div>
    <div class="card-group">
        <a class="question-card" asp-controller="Support" asp-action="RedirectByQuestion" asp-route-question="feedback-submit">
            Submit feedback to our team
        </a>
    </div>
</div>









@section Styles {
    <link rel="stylesheet" href="~/css/pages/support.css" asp-append-version="true" />

}

@section Scripts {
    @* <script src="~/js/components/carousel.js" asp-append-version="true"></script> *@
}
