@{
    ViewData["Title"] = "Sign In";
}

@* login Style *@
<link rel="stylesheet" href="~/css/Account/account.css" asp-append-version="true" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/functions/Account.js"></script>

    <script>
        // Check if TempData has a flash message
        @if (TempData["FlashMessage"] != null)
        {
                        <text>
                            showTemporaryMessage("@TempData["FlashMessage"]", "@TempData["FlashMessageType"]");
                        </text>
        }
    </script>
}


<div class="login-container">
    <h2>Sign in</h2>

  

    <form asp-controller="Account" asp-action="login" method="post">
        <div class="sec-box">
            <div class="form-group">
                <label>SIGN IN WITH ACCOUNT NAME</label>
                <input type="text" placeholder="Enter username">
            </div>

            <div class="form-group">
                <label>PASSWORD</label>
                <input type="password" placeholder="Enter password">
            </div>

            <button class="login-btn" type="button">Sign In</button>

            <p class="forgot"><a href="@Url.Action("ResetPassword", "Account")">Forgot your password?</a></p>
        </div>
          
    </form>

    <div class="create">
        <span class="create1">New here?</span>
        <span class="create2">
            <a class="create22" href="@Url.Action("register", "Account")">Create an account</a>
        </span>
    </div>
</div>


