@model OnlineGameStoreSystem.Models.ViewModels.ResetPasswordVM;
@{
    ViewData["Title"] = "Verify OTP";
}

<link rel="stylesheet" href="~/css/Account/account.css" asp-append-version="true" />

<div class="login-container">

    <div class="back-text" onclick="history.back()">
        <span class="arrow"><</span>
        <span class="back-word">Back</span>
    </div>

    <h2>Verify OTP</h2>

    <form asp-action="VerifyOtp" method="post">
        <div class="form-group">
            <label>Enter the OTP sent to your email</label>
            <input asp-for="OTP" class="form-control" maxlength="6" placeholder="Enter 6-digit OTP" />
            <span asp-validation-for="OTP" style="color:red"></span>
        </div>

        <button type="submit" class="login-btn">Verify</button>

        <div class="resend-box">
            <span style="display:inline-block; margin-top:5px;">Didn't receive the OTP?</span>
            <a asp-action="ResendOtp">Resend OTP</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}