@{
    ViewData["Title"] = "Reset Password";
}

<link rel="stylesheet" href="~/css/Account/account.css" asp-append-version="true" />

<div class="login-container">

    <div class="back-text" onclick="history.back()">
        <span class="arrow"><</span>
        <span class="back-word">Back</span>
    </div>

    <h2>Reset Password</h2>

    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <div class="form-group">
            <label>Please enter your email address below.</label>
            <input type="text" placeholder="Enter email">
        </div>

        <a href="~/Account/OTP">
            <button class="login-btn" type="button">Continue</button>
        </a>
    </form>
</div>
