@{
    ViewData["Title"] = "Reset Password";
}

<link rel="stylesheet" href="~/css/Account/account.css" asp-append-version="true" />

<div class="login-container">

    <div class="back-text" onclick="history.back()">
        <span class="arrow"><</span>
        <span class="back-word">Back</span>
    </div>

    <h2>Reset Password</h2>

    <p>Please enter your new password below.</p>

    <form asp-controller="Account" asp-action="ResetPassword2" method="post">

        <div class="form-group">
            <label>New Password</label>
            <input type="text" placeholder="new password">
        </div>

        <div class="form-group">
            <label>Confirm New Password</label>
            <input type="text" placeholder="confirm password">
        </div>

        <button class="login-btn" type="button">Submit</button>

    </form>
</div>
