@model OnlineGameStoreSystem.Models.ViewModels.ResetPasswordVM;

@{
    ViewData["Title"] = "Reset Password";
}

<link rel="stylesheet" href="~/css/Account/account.css" asp-append-version="true" />

<div class="login-container">

    <div class="back-text" onclick="history.back()">
        <span class="arrow"><</span>
        <span class="back-word">Back</span>
    </div>

    <h2>Reset Password</h2>

    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <div class="form-group">
            <label>Please enter your email address below.</label>
            <input asp-for="Email" placeholder="Enter email">
            <span asp-validation-for="Email" style="color:red"></span>
        </div>

        <button type="submit" class="login-btn" >Continue</button>
       
    </form>

