@{
    ViewData["Title"] = "Post";
}

@model PostDetailsViewModel

<div class="post-container">

</div>

@section Styles {
    @* <link rel="stylesheet" href="~/css/pages/community.css" asp-append-version="true" /> *@

}

@section Scripts {
    @* <script src="~/js/test.js" asp-append-version="true"></script> *@

}