.cart-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.cart-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: #2A2A2A;
    padding: 15px;
    border-radius: 10px;
}

.cart-game-image {
    width: 100px;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 15px;
}

.cart-info {
    flex: 1;
}

.cart-game-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.cart-price del {
    color: #888;
    margin-right: 10px;
}

.discount-price {
    color: #BA2D50;
}

.btn {
    background-color: #BA2D50;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
}

    .btn:hover {
        background-color: #850883;
    }

.cart-summary {
    margin-top: 30px;
    background-color: #2A2A2A;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.total-text {
    font-size: 22px;
}

.total-value {
    font-size: 26px;
    color: #BA2D50;
    flex: 1;
    text-align: right;
}
