.primary-btn {
    background-color: var(--primary-color);
}

.primary-btn:hover {
    background-color: var(--accent-color);
}

.secondary-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.secondary-btn:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.danger-btn {
    background-color: red;
    border: 1px solid white;
    color: white;
}

    .danger-btn:hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }

.button-group {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.flex-row{
    display: flex;
    flex-direction:row;
    align-items: center;
}

.gap{
    gap: 10px;
}

.glass {
    background: rgba(255, 255, 255, 0.15); /* 半透明白 */
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

