.post-form-container {
    position: relative;
    max-width: 1000px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
}
#postForm {
    flex: 1;
}

.post-preview-container {
    width: 350px; /* 或你想要的固定宽度 */
}


    .post-form-container h2 {
        text-align: center;
        margin-bottom: 25px;
        color: #333;
    }

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

    .form-group label {
        margin-bottom: 6px;
        font-weight: bold;
        color: #555;
    }

    .form-group input[type="text"],
    .form-group input[type="file"],
    .form-group textarea {
        font-size: 16px;
    }

        .form-group input[type="text"]:hover,
        .form-group input[type="file"]:hover,
        .form-group textarea:hover {
            border-color: var(--primary-color);
        }


    .form-group input[type="text"] {
        width: 70%;
    }
    .form-group textarea {
        width: 90%;
    }

    .form-group textarea {
        min-height: 150px;
    }

.thumbnail-upload {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 2px dashed #aaa;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
    width: 70%;
    height: 150px;
}

    .thumbnail-upload:hover {
        border-color: var(--primary-color);
    }

    .thumbnail-upload input[type="file"] {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .thumbnail-upload p {
        margin: 0;
        color: #777;
    }

.post-preview-container {
    position: relative;
    top: 20px;
    right: 0;
    max-height: 275px;
}

.post-preview-container h1 {
    margin-bottom: 15px;
    color: var(--text-light);
}