.container {
    width: 1000px;
    margin: 40px auto;
}

.page-title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: normal;
}

.question-title {
    background-color: #CFCFCF;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 9999px;
    margin-bottom: 20px;
}

.card-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.question-card {
    background-color: darkgray;
    color: black;
    font-weight: bold;
    padding: 20px 20px;
}