@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<div class="container">
    <partial name="Carousel" model="@Model.topGamesBySales"/>

    <partial name="Category" model="@Model.Categories"/>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/components/carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/category.css" asp-append-version="true" />

}

@section Scripts {
    <script src="~/js/components/carousel.js" asp-append-version="true"></script>    
    <script src="~/js/components/category.js" asp-append-version="true"></script>
    <script>
                // Check if TempData has a flash message
        @if (TempData["FlashMessage"] != null)
        {
                    <text>
                        showTemporaryMessage("@TempData["FlashMessage"]", "@TempData["FlashMessageType"]");
                    </text>
        }
    </script>
}
