@model List<Post>

<div class="search-container">
  
</div>

@section Styles {
    @* <link rel="stylesheet" href="~/css/components/carousel.css" asp-append-version="true" /> *@
}

@section Scripts {
    @* <script src="~/js/components/carousel.js" asp-append-version="true"></script>     *@
}