<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineGameStoreSystem</title>
    @* 外部css *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    @* base css *@
    <link rel="stylesheet" href="~/css/base/variable.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineGameStoreSystem.styles.css" asp-append-version="true" />
    @* components css *@
    <link rel="stylesheet" href="~/css/components/navbar.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body>
    @if (TempData["Info"] is string infoMessage)
    {
        <div id="temp-alert-container">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @infoMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        </div>
    }
    <partial name="_NavBar" />

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @* <footer>

    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/components/navbar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
