<nav class="profile-nav">
    <a asp-controller="Profile" asp-action="EditProfile">Edit Profile</a>
    <a asp-controller="Profile" asp-action="PrivacySettings">Privacy Settings</a>
</nav>

@section Style{
    <link rel="stylesheet" href="~/css/components/_profile.css" asp-append-version="true" />

}

